@model FinalTask.Duty

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Task</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DutyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DutyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DutyDueDate)
        </dt>

        <dd>
            @Html.TextBoxFor(model => model.DutyDueDate, "{0:MM/dd/yyyy}")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DutyCompletion)
        </dt>

        <dd>
            @Html.TextBoxFor(model => model.DutyCompletion, "{0:MM/dd/yyyy}")
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DutyId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
